  * {
    box-sizing: border-box;
  }
body {
background: linear-gradient(black, white);
font-size: 24px;
font-family: Georgia, Times, 'Times New Roman', serif; 
 
}

.footer {
  min-height: 100px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgb(5, 5, 5);
  text-align: center;
  position: fixed;
  color: white;
}
.bp-form {
  background-color: #414657;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 9px rgb(156, 140, 140);
  
}
.exe-form {
  background-color: #303133;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 9px rgb(156, 140, 140);
  
}
form label {
  color: #fff !important;
  font-size: 30px !important;
  padding-left: 20px !important;
  font-weight: 700px !important;
  letter-spacing: 2px !important;
}

.MuiFormHelperText-root-118.MuiFormHelperText-error-119 {
  color: red !important;
  font-size: 18px;
}


input::placeholder {
  color: #fff !important;
}

.about-para {
  color: darkblue !important;
  font-size: 24px !important;

}
form > div input{
  font-size: 30px !important;
  color: #fff !important;
  padding-left: 20px !important;
  font-weight: 700px !important;
  letter-spacing: 2px !important;
}
form > div {
  display: grid !important;

}
 section {
  width: 100%;
  padding: 1em;
  overflow: auto;
  max-width: 100%;
  margin: auto;
  padding-top: 80px;
 }
 .section-div {
    width: 100%;
    margin-top: 100px;
 }
.section {
  background: radial-gradient(circle at 100%, rgb(252, 255, 254), rgb(131, 209, 240) 50%, #eee 80%, rgb(155, 248, 163) 75%);
}
.exe-section {
  background: radial-gradient(circle at 100%, rgb(255, 210, 210), rgb(134, 250, 203) 50%, #eee 80%, rgb(107, 140, 184) 75%);
}
.h3 {
  color: white !important;
}
.h3:hover {
  background-color: red;
}
.h2 {
  font-size: 28px;
  font-weight: 700 !important;
  color: #333 !important;
  margin-top: 20px;
}
.exe-trow {
  background-color: rgb(15, 81, 235) ;
}

.tbody,  td:hover {
background-color: rgb(17, 170, 231);
}
td:hover {
  background-color: rgb(202, 29, 29) !important;
}
.exe-tbody,  td:hover {
  background-color: rgb(88, 97, 92);
}

h1 {
  color: #5d5e61 !important;
  font-weight: 700 !important;
}
.about-h1 {
  color: #333 !important;
}
.about-h1f, .nav-h2, .nav-h3 {
  color: white !important;
}
.about-div {
  margin-top: 100px;
}
th {
  font-size: 24px !important;
  color: whitesmoke !important;
  border: 1px solid #ddd;
  text-align: left;
  letter-spacing: 2px !important;
}

td {
  font-size: 24px !important;
  color: #fff !important;
  border: 1px solid #ddd !important;
  letter-spacing: 2px !important;

}
   td {
    background-color: #333;
  }
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(30, 75, 223) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 10px !important;
  margin-left: 40% !important;
  width: 100px;
}

.navbar-right {
  margin-left: 30%;
}
.button:hover {
  background-color: red !important;
}
.button:active {
  background-color: #3e8e41 !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media only screen and (max-width: 760px) {
  body {
    background-color: lightblue !important;
  }
  .button {
    margin-left: 40% !important;

  }
  .button:hover {
    background-color: yellow !important;
  }
  .row {
    margin-top: 10px !important;
 }
 
   td{
    background-color: #5f2525 !important;
    font-size: 14px !important;
    padding: 0 !important;
    letter-spacing: 0.5px !important;
    }
    th {
      font-size: 14px !important;
      margin: 0 !important;
      padding: 2px !important;
      letter-spacing: 0.5px !important;
    }
    .footer span {
      font-size: 12px !important;
    }
 
  .h3:hover {
    background-color: rgb(31, 68, 231);
  }
  .navbar {
    background-color: #777 !important;
  }
  .navbar-toggler {
    background-color: white;
  }
  form label {
    font-size: 20px !important;
  }
  form > div input{
    font-size: 20px !important;
  }
}
