nav.navbar.navbar-default {
  margin-bottom: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Oswald', sans-serif;
}
h2 {
  color: white !important;
  font-weight: bold;
}

nav li h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color:red !important;
}
h3:hover {
  color: red;
}
